﻿@model IEnumerable<TG.Exam.WebMVC.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Users list</h2>

<table id="users" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                Method
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    Sync
                </td>
            </tr>
        }
    </tbody>
</table>
<input type="submit" id="LoadDataAsync" value="Load data async" />

<script>
    $(document).ready(function () {
        $("#LoadDataAsync").click(function () {
            $.ajax({
                url: '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "UserApi" })',
                dataType: "json",
                type: "Get",
                success: function (users) {
                    let tbody = "";
                    for (var i = 0; i < users.length; i++) {
                        tbody += `<tr><td>${users[i].FirstName}</td>
                            <td>${users[i].LastName}</td>
                            <td>${+users[i].Age + 10}</td>
                            <td>Async</td></tr>`;
                    }
                    $('#users tbody tr').remove();
                    $('#users').append(tbody);
                },
                error: function (xhr) {
                    alert(`${xhr.status} ${xhr.statusText}`);
                }
            });
        });
    });
</script>   